<div class="components__wrapper">
  <app-percentage-circle
    [size]="size"
    [backgroundFilter]="backgroundFilter"
    [animate]="animate"
    [backgroundImage]="backgroundImageFile"
    [percentage]="value"
    [showNumber]="showNumber"
    [percentColor]="percentColor"
    [percentTextColor]="percentTextColor"
    [backgroundColor]="backgroundColor">
  </app-percentage-circle>

  <div class="options__wrapper">
    <h1>Options</h1>

    <div class="options__list">
      <div class="options__item">
        <h3 class="options__item-title">Size or circle (px)</h3>
        <div class="options__field">
          <input type="range" min="100" max="300" [(ngModel)]="sliderSize" (change)="updateSize()">
        </div>
        <div class="options__extra">
          Value: {{ size }}
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Value for circle (%)</h3>
        <div class="options__field">
          <input type="range" min="1" max="100" [(ngModel)]="sliderValue" (change)="updateValue()">
        </div>
        <div class="options__extra">
          Value: {{ value }}
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Show percent value</h3>
        <div class="options__field">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="showNumber">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Use background image</h3>
        <div class="options__field">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="backgroundImage" (change)="updateBgImageOptions()">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Background filter</h3>
        <div class="options__field">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="backgroundFilter" [disabled]="!backgroundImage">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Use animation</h3>
        <div class="options__field">
          <label class="switch">
            <input type="checkbox" [(ngModel)]="animate">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Background color</h3>
        <div class="options__field">
          <input type="color" [(ngModel)]="backgroundColor">
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Color for percent</h3>
        <div class="options__field">
          <input type="color" [(ngModel)]="percentColor">
        </div>
      </div>
      <div class="options__item">
        <h3 class="options__item-title">Color for percent text</h3>
        <div class="options__field">
          <input type="color" [(ngModel)]="percentTextColor">
        </div>
      </div>
    </div>
  </div>
</div>

